@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');
@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1383px;margin: 0 auto;text-align: center;font-family: "Montserrat"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1383px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "socialico"}

/*button*/
.btn {font-size: 15px; font-weight: 700; color: #fff; display: inline-block; padding: 18px 27.5px; background: #D23926; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
#shaun-form{display: none;}
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Montserrat";font-size: 75px;font-weight: 700;color:#D23926;}

/*header*/
#header {background: rgba(210,57,38,0.9);padding: 21px 0; position: relative;z-index: 999999}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #fff; margin-right: 50px}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
.hdLeft.col{width: 80%; text-align: left}
.hdRight.col{width: 20%; text-align: right}
.hdRight p{display: inline-block;vertical-align: bottom;font-size: 25px; color: #fff; margin: -10px 0 0}
.hdRight p span{display: inline-block;vertical-align: bottom;margin-left: 10px;font-family: "Montserrat"; font-weight: 700; font-size: 28px; color: #fff}
/*banner*/
#banner {position: relative;background: #fff; padding: 40px 0; margin-top: -66px; padding: 220px 0 130px}
.landing{background: url(../images/common/bgBanner1.jpg)no-repeat center top!important; background-size: cover!important;}
.construction{background: url(../images/common/bgBanner2.jpg)no-repeat center top!important; background-size: cover!important;}
.consulting{background: url(../images/common/bgBanner3.jpg)no-repeat center top!important; background-size: cover!important;}
#banner .page{position: absolute;background: rgba(210,57,38,0.8); font-family:"Montserrat"; font-weight: 700; font-size: 50px; color: #fff; margin: 0 auto; padding: 17.5px 45px;top:65%;left: 50%; transform: translateX(-50%);}
#banner .tag{font-family: "Montserrat"; font-weight: 600; font-size: 52px; color: #fff; margin: 147px auto 0; max-width: 808px; padding: 10px 0}


/* welcome */
#wlcSection{padding: 90px 0 80px}
#wlcSection p.desc{max-width: 884px; margin: 0 auto;font-family: "Montserrat"; font-weight:400; font-size: 20px; color: #000; line-height: 30px}
.wlcLeft.col, .wlcRight{width: 50%; margin-top: 90px}
.wlcLeft {position: relative;padding: 50px 0}
.wlcLeft h2{font-family: "Montserrat"; font-weight: 700;font-size: 40px; color: #D23926}
.wlcLeft p{font-family: "Montserrat"; font-weight: 400;font-size: 17px; color: #000; max-width: 576px; margin: 40px auto 0; line-height: 30px}
.wlcLeft:before{content: "";position: absolute;width:412px; height: 1px; background: #D6D6D6; top: 0; left: 50%; transform: translateX(-50%);}
.wlcLeft:after{content: "";position: absolute;width:412px; height: 1px; background: #D6D6D6; bottom: 0; left: 50%; transform: translateX(-50%);}
.wlcRight{text-align: left;}
.wlcRightTop{margin-bottom: 30px}
.wlcRight img{margin-left: 20px}
.wlcRightText{margin-left: 20px}
.wlcRightText h4{font-family: "Montserrat"; font-weight: 700; font-size: 20px; color: #555555}
.wlcRightText p{max-width: 506px; font-family: "Montserrat"; font-weight: 400; font-size: 14px; color: #000; line-height: 25px}

/* pages */
#pageSection{background: url(../images/common/landingBg1.jpg)no-repeat center top; background-size: cover; padding: 160px 0}
#pageSection .row{display: flex; justify-content: space-between; flex-wrap: wrap}
#pageSection dl{position: relative;}
#pageSection dl dt{background: none}
#pageSection dl dd{font-family: "Montserrat";font-weight: 700; font-size: 50px; border: 1px solid #fff; color: #fff; max-width: 513px; width: 100%; padding: 20px 0 ;position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%);margin: 0 auto;}

/* our mission */
#missionSection{background: url(../images/common/constructionBg1.jpg)no-repeat center top; background-size: cover; padding: 95px 0}
#missionSection .inb{display: inline-block;vertical-align: middle;}
.msLeft{width: 59.5%; text-align: left;}
.msLeft section{max-width: 615px; width: 100%; margin: 0 auto;}
.msLeft section h1{font-family: "Montserrat"; font-weight: 700; font-size: 75px; color: #fff}
.msLeft section p{font-family: "Montserrat"; font-weight: 400; font-size: 17px; color: #fff; line-height: 30px}
.msLeft section a.button{font-family: "Montserrat"; font-weight: 700; font-size: 17px; color: #fff; border: 1px solid #fff!important; padding: 17.5px 37px;margin-top: 20px; display: inline-block;border: 1px solid transparent; transition: all 0.5s ease;}
.msLeft section a.button:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
.msRight{width: 40%}

/* construction service */
#services2Section{padding: 100px 0}
#services2Section .row{display: flex;justify-content: space-around;flex-wrap: wrap;}
#services2Section dl{width: 28.4%;align-items: flex-start; }
#services2Section dl dd{margin: 0; padding: 10px 0;}
#services2Section dl dd h4{min-height: 37px}
#services2Section dl:nth-of-type(1) dd h4,#services2Section dl:nth-of-type(3) dd h4{min-height: 0;padding: 10px 0}
#services2Section dl dd p{min-height: 249px;font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #000; line-height: 25px}

/* construction service 2 */
#services3Section{padding: 0 0 100px}
#services3Section .row{max-width: 1101px;}
#services3Section h1{font-family: "Montserrat"; font-weight: 700; font-size: 60px; color: #535353}
#services3Section h3{font-family: "Montserrat"; font-weight: 700; font-size: 20px; color: #535353}
#services3Section .flex-boxes{display: flex; justify-content: space-between;flex-wrap: wrap;margin-top: 55px}
#services3Section .flex-boxes .fb{width: 33%}
#services3Section .flex-boxes dl{position: relative;margin: 12px 0}
#services3Section .flex-boxes dl dt img{max-width: 357px;}
#services3Section .flex-boxes dl dd{background-image: linear-gradient(transparent, black 150%);font-family:"Montserrat"; font-weight: 700; font-size: 18px ; color: #fff;position: absolute; bottom:5px; margin: 0; left: 50%; transform: translate(-50%);width: 98%;padding: 50px 0 30px}

/* consulting mission section */
#mission2Section{background: url(../images/common/consultingBg1.jpg)no-repeat center top; background-size: cover; padding: 95px 0}
#mission2Section .inb{display: inline-block;vertical-align: middle;}
.ms2Left{width: 59.5%; text-align: left;}
.ms2Left section{max-width: 615px; width: 100%; margin: 0 auto;}
.ms2Left section h1{font-family: "Montserrat"; font-weight: 700; font-size: 60px; color: #666666}
.ms2Left section p{font-family: "Montserrat"; font-weight: 400; font-size: 17px; color: #666666; line-height: 30px}
.ms2Right{width: 40%}

/* consulting our services */
#consultingSvcSection{padding: 0 0 50px;}
#consultingSvcSection h1{font-family: "Montserrat"; font-weight: 700; font-size: 60px; color: #fff; background: #D23926; padding: 43.5px 0; margin-bottom: 50px}
#consultingSvcSection .row{max-width: 1100px;}
#consultingSvcSection .flex-boxes{display: flex; justify-content: space-around; flex-wrap:wrap;}
#consultingSvcSection .flex-boxes dl{position: relative; max-width: 357px; width: 100%; margin: 5px 0}
#consultingSvcSection .flex-boxes dl dt img{max-width: 357px; width: 100%}
#consultingSvcSection .flex-boxes dl dd{background-image: linear-gradient(transparent, black 150%);font-family:"Montserrat"; font-weight: 700; font-size: 20px ; color: #fff;margin: 0;position: absolute;bottom: 5px; left: 50%; transform: translateX(-50%);width: 100%; padding: 80px 0 30px}

/* products offered section */
#prodSection{padding: 50px 0 100px}
#prodSection h1{font-family: "Montserrat"; font-weight: 700; font-size: 60px; color: #545454;margin-bottom: 40px}
#prodSection ul{columns: 3; list-style: inside square url(../images/content/bullets.png) ;text-align: left;}
#prodSection ul li {margin: 1em auto;}
#prodSection ul li p{display: inline-block;vertical-align: middle;margin: 0 0 0 20px;}
/* footer */
#footer {position: relative;background: url(../images/common/footerBg.jpg)no-repeat center top;background-size:cover;padding: 64px 0 46px}
#footer h1{font-family: "Montserrat"; font-weight: 700; font-size: 50px; color: #fff; letter-spacing: 10px; background: rgba(210,57,38,0.8);max-width: 556px; padding: 10px 0; margin: 0 auto 70px;}
.footTop ul {margin: 0;padding: 0}
.footTop ul li {display: inline-block;vertical-align: middle;}
.footTop ul li a {font-family: "Montserrat"; font-weight: 400; font-size: 15px; color: #fff; margin-right: 50px}
.footTop ul li.active-menu a, .footTop ul li a:hover {color:#fff;}
.footMid{max-width: 900px; margin: 30px auto 20px;border: 1px solid #fff; padding: 10px 0}
.footMid p{font-family: "Montserrat"; font-weight: 700; font-size: 14px; color: #fff}
.footBot p{font-size: 42px; color: #fff; margin: 0 auto;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer img.logo{position: absolute;max-width: 143px; width: 100%; bottom: 114px; left: 75px}
.consHead{position: relative;}
.consHead:after{content: url(../images/content/shaun.jpg); position: absolute; top:-35px; left: -135px;}
/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content #hours{cursor: pointer;margin-top: 20px;}
.inner #content #tbHours{display: none;max-width: 250px; margin: 20px auto 0;}
.inner #content #tbHours tr:first-child{cursor: pointer;}
.inner #content p.formCancel{cursor: pointer;text-decoration: underline;color: #bd2920;}
.inner #content .ctc-form{max-width: 540px}
.inner #content .ctc-form input[type="text"]{height: 55px}
.inner-contact h2{position: relative;font-family: "Playfair Display"; font-weight: 400; font-size: 43px; color: #d22f25; margin-bottom: 60px;margin-top: 60px;}
.inner-contact h2::after{content: ""; width: 50px; height:3px; position: absolute; top: 80px; left: 50%;transform: translate(-50%);background: rgba(0,0,0,0.3)}
.inner-contact h3, .inner-contact p{font-family: "Open Sans", arial, sans-serif;}
.inner-contact h3{margin: 30px auto 20px;}
.inner-contact h4{margin-top: 40px;font-family: "Open Sans", arial, sans-serif;font-weight: 400; font-size: 22px; line-height: 28px}
.inner-contact p{font-size: 16px; line-height: 24px; color: #5e5e5e;max-width: 540px; margin: 10px auto;}
.inner-contact p span{display: block;text-decoration: underline;color: #bd2920;}
.inner-contact p span.color{display: inline;text-decoration: none;color: #ca2d23;}
.inner-contact p.longText{max-width: 679px}
.inner-contact .eshaun{font-family:"Open Sans",arial,sans-serif; font-weight: 700; font-size: 16px; color: #fff; border-radius: 5px; background: rgb(210, 47, 37);padding: 14px 47px; border: 1px solid transparent;margin: 40px auto;}
.inner-contact .ctcBtn{font-family:"Open Sans",arial,sans-serif; font-weight: 700; font-size: 16px; color: #fff; border-radius: 5px; background: rgb(210, 47, 37);padding: 14px 249px; border: 1px solid transparent;}

.inner-gallery {max-width: 1200px; margin: 0 auto;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
